body{
	border: 1px solid gray;
	background-color: #2b2b2b;
	color: white;
	font-size: 28px;
}
.header{
	text-align: center;
	border-bottom: 1px solid gray;
}
.lewy{
	float: left;
	border-right: 1px solid gray;
}
.prawy{
	float: left;
	
}
.stopka{
	clear: both;
	border-top: 1px solid gray;
	text-align: center;
}
button{
	font-size: 18px;
}
